node_modules/
.env
.DS_Store
data/
sites/
studio/node_modules/
studio-react/node_modules/
dist/
*.log
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
.vscode/
/*.tgz
package-lock.json
